/* Header */
.header {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.header .drop-down-list {
  display: none;
}
@media (max-width: 992px) {
  .header {
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .header .drop-down-list {
    display: block;
  }
}
.header ul {
  display: flex;
  align-items: center;
}
.header li a {
  display: block;
  padding: 0 30px;
}
@media (max-width: 768px) {
  .header li a {
    padding: 0;
    margin: 0;
  }
}
.header li:last-child {
  padding-right: 0;
  margin-left: 20px;
}
.header li:hover {
  opacity: 0.5;
}
@media (max-width: 768px) {
  .header li:nth-child(1), .header li:nth-child(2), .header li:nth-child(3) {
    display: none;
  }
}
.header .logo a {
  display: block;
  width: 220px;
  height: 40px;
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logo-all-dark.svg") no-repeat;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 768px) {
  .header .logo a {
    width: 115px;
    height: 18px;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logotype-sm-dark.svg");
  }
}

/* Email */
.email {
  background: #3F5D45;
}
.email .subscribe {
  max-width: 780px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .email .subscribe {
    flex-direction: column;
    align-items: center;
  }
}
.email .logo-light {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .email .logo-light {
    margin-top: 30px;
  }
}
.email .logo-light p {
  color: #EAF0ED;
  font-size: 24px;
  line-height: 33px;
}
@media (max-width: 768px) {
  .email .logo-light p {
    margin: 0;
  }
}
.email .logo-light img {
  width: 40px;
  margin-right: 20px;
}

.mail_form {
  background: #EAF0ED;
  display: flex;
  margin: 30px 0;
}
.mail_form input {
  border: 0;
  background: #EAF0ED;
  font-size: 20px;
}
.mail_form input:focus {
  outline: none;
}
.mail_form img {
  padding: 16px 20px;
}
.mail_form .btn {
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/arrow_forward-24px.png?raw=true");
  background-repeat: no-repeat;
  background-color: #FFE180;
  background-position: center;
  padding: 15px 30px;
  cursor: pointer;
}
.mail_form .btn input {
  background: #FFE180;
  padding: 0;
}

/* Footer */
.footer {
  background: #EAF0ED;
  padding-bottom: 30px;
  padding-top: 50px;
}

.contact {
  max-width: 780px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .contact {
    padding: 0 20px;
  }
}
@media (max-width: 568px) {
  .contact {
    flex-direction: column;
    padding: 0 30px;
  }
}

.method .logo-sm {
  width: 170px;
  margin-bottom: 120px;
}
@media (max-width: 568px) {
  .method .logo-sm {
    margin-bottom: 40px;
  }
}
.method .info {
  font-weight: normal;
  line-height: 24px;
  margin-bottom: 30px;
}
.method .socialIcon {
  width: 32px;
  display: flex;
}
.method .socialIcon img {
  padding-right: 8px;
}
@media (max-width: 568px) {
  .method .socialIcon img {
    padding-bottom: 20px;
  }
}

.phrase {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 568px) {
  .phrase {
    align-items: flex-start;
  }
}
.phrase .slogan {
  font-size: 24px;
  writing-mode: vertical-rl;
  letter-spacing: 7px;
  line-height: 35px;
  text-indent: -20px;
}
@media (max-width: 568px) {
  .phrase .slogan {
    display: none;
  }
}
.phrase .slogan span {
  font-weight: lighter;
  letter-spacing: 0;
}
.phrase .copyright {
  line-height: 16px;
}
@media (max-width: 768px) {
  .phrase .copyright {
    font-size: 14px;
  }
}