@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  color: #3F5D45;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: #3F5D45;
  text-decoration: none;
}

/* Header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

@media (max-width: 992px) {
  .header {
    padding: 0 30px;
  }
}

.drop-down-list {
  display: none;
}

@media (max-width: 768px) {
  .drop-down-list {
    display: block;
  }
}

.logo a {
  display: block;
  width: 220px;
  height: 40px;
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logo-all-dark.svg") no-repeat;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 768px) {
  .logo a {
    width: 115px;
    height: 18px;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logotype-sm-dark.svg");
  }
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header li a {
  display: block;
  padding: 0 30px;
}

.header li:last-child a {
  padding-right: 0;
  margin-left: 20px;
}

.header li:hover {
  opacity: 0.5;
}

@media (max-width: 768px) {
  .header li:nth-child(1), .header li:nth-child(2), .header li:nth-child(3) {
    display: none;
  }
  .header li a {
    padding: 0;
    margin: 0;
  }
}

.banner img {
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .banner img {
    margin-bottom: 0;
  }
}

/* Main */
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* Menu */
.menu {
  width: 30%;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
}

@media (max-width: 768px) {
  .menu {
    width: 100%;
    margin-bottom: 30px;
  }
}

.menu h3 {
  background: #3F5D45;
  color: #EAF0ED;
  padding: 16px 0;
}

.menu .all {
  background: #EAF0ED;
}

.menu a {
  display: block;
  padding: 16px 0;
}

.menu li {
  border: 1px solid #EAF0ED;
}

.menu a:hover {
  background: #3F5D45;
  color: #EAF0ED;
  opacity: 0.5;
}

/* Product */
.product {
  width: 66%;
}

.product ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product li {
  width: 48%;
  position: relative;
  margin-bottom: 20px;
}

.product li img {
  width: 100%;
}

@media (max-width: 768px) {
  .product {
    width: 100%;
    padding: 0 20px;
  }
  .product li {
    width: 46%;
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {
  .product ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product li {
    width: 85%;
  }
}

.product .sale {
  background: #3F5D45;
  color: #EAF0ED;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  letter-spacing: 4px;
  position: absolute;
  top: 0;
  left: 20px;
  padding: 10px;
}

.product .favorite {
  background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/favorite_border.png?raw=true") no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 19px;
  right: 22px;
}

.product .name_price {
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  border-left: 1px solid #EAF0ED;
  border-right: 1px solid #EAF0ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.product h3 {
  width: 60%;
  padding: 14px 0px;
  border-right: 1px solid #EAF0ED;
}

.product p {
  width: 40%;
}

.product .shopping {
  background: #EAF0ED;
  display: block;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  padding: 16px 0;
}

.product a:hover {
  background: #3F5D45;
  color: #EAF0ED;
}

/* Button */
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

.button img {
  border: 1px solid #EAF0ED;
  padding: 16px;
}

.button .page {
  display: block;
  font-size: 20px;
  line-height: 26px;
  padding: 15px 24px;
}

.button .page1 {
  color: #EAF0ED;
  background: #3F5D45;
  border: 1px solid #3F5D45;
}

.button .page2, .page3 {
  border-top: 1px solid #EAF0ED;
  border-bottom: 1px solid #EAF0ED;
}

.button .page2 {
  border-right: 1px solid #EAF0ED;
}

.page2:hover {
  border: 1px solid #3F5D45;
}

.page3:hover {
  border: 1px solid #3F5D45;
}

/* Email */
.email {
  background: #3F5D45;
}

.subscribe {
  max-width: 780px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-light p {
  color: #EAF0ED;
  font-size: 24px;
  line-height: 33px;
}

@media (max-width: 768px) {
  .subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo-light {
    margin-top: 30px;
  }
  .logo-light p {
    margin: 0;
  }
}

.logo-light img {
  width: 40px;
  margin-right: 20px;
}

.mail_form {
  background: #EAF0ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
}

.mail_form input {
  border: 0;
  background: #EAF0ED;
  font-size: 20px;
}

input:focus {
  outline: none;
}

.mail_form img {
  padding: 16px 20px;
}

.mail_form .btn {
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/arrow_forward-24px.png?raw=true");
  background-repeat: no-repeat;
  background-color: #FFE180;
  background-position: center;
  padding: 15px 30px;
  cursor: pointer;
}

.btn input {
  background: #FFE180;
  padding: 0;
}

/* Footer */
.footer {
  background: #EAF0ED;
  padding-bottom: 30px;
  padding-top: 50px;
}

.contact {
  max-width: 780px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .contact {
    padding: 0 20px;
  }
}

@media (max-width: 576px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 30px;
  }
}

.method .logo-sm {
  width: 170px;
  margin-bottom: 120px;
}

.method .info {
  font-weight: normal;
  line-height: 24px;
  margin-bottom: 30px;
}

.method .socialIcon {
  width: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.method .socialIcon img {
  padding-right: 8px;
}

.phrase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.phrase .slogan {
  font-size: 24px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  letter-spacing: 7px;
  line-height: 35px;
  text-indent: -20px;
}

.slogan span {
  font-weight: lighter;
  letter-spacing: 0;
}

.phrase .copyright {
  line-height: 16px;
}

@media (max-width: 768px) {
  .phrase .copyright {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .method .logo-sm {
    margin-bottom: 40px;
  }
  .method img {
    padding-bottom: 20px;
  }
  .phrase {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .phrase .slogan {
    display: none;
  }
}

.checkout {
  margin-bottom: 60px;
  height: 460px;
  background: url("../image/checkout.png") no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.checkout .material-icons.md-20 {
  font-size: 20px;
}

.checkout hr {
  display: inline-block;
  width: 66px;
  height: 1px;
  border: 0;
  background-color: #3F5D45;
}

.checkout span {
  width: 190px;
  position: absolute;
  right: 0;
  left: 0;
  top: 145px;
  margin: 0 auto;
}

.checkout .success {
  width: 190px;
  height: 50px;
  background: url("../image/lg-付款成功.png") no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.checkout .continue {
  width: 300px;
  font-size: 24px;
  line-height: 33px;
  padding: 16px 100px;
  background-color: #FFE180;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 110px;
  margin: 0 auto;
}

@media (max-width: 568px) {
  .checkout .continue {
    width: 100%;
    left: 0;
    text-align: center;
    bottom: -60px;
  }
}
/*# sourceMappingURL=checkout.css.map */